# Environment variables
.env

# SQLite database
db.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Others
.DS_Store

FRONTEND_API_GUIDE.md